.list-container{
    width: 360px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    background-color: palegreen;
    padding: 20px 10px;
    border: 1px solid royalblue;
    border-radius: 10px;
    position: relative;
    h1{
        background-color: ivory;
        padding: 5px;
        border: 1px solid brown;
        border-radius:3px;
    }
    .list-title{
        text-align: left;
        font: normal 20px Arial, sans-serif;
        width: 75%;
        display:inline-block;
        
    }
    .list-action{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 5px;
    }
    
}