<app-listactions></app-listactions>
<div cdkDropListGroup>
  <ng-container *ngFor="let category of listItem">
    <div cdkDrag [cdkDragData] class="list-container" cdkDropList id="{{category.id}}"
      [cdkDropListData]="category.todos" (cdkDropListDropped)="drop($event)">
      <h1><span class="list-title">{{category.title}}</span>
        <span>
          <button (click)="editList(category.id)" mat-mini-fab color="warn" aria-label="edit list">
            <app-edit-icon></app-edit-icon>
          </button>
          <button aria-label="delete button" (click)="openDeleteListDialog(category.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </span></h1>
      <ng-container *ngFor="let todo of todos | keyvalue" ;>

        <ng-container *ngFor="let t of todo.value | keyvalue" ;>
          <ng-container *ngIf="checkIfObject(t.value) === 'object'">

            <ng-container *ngFor="let item of t.value | keyvalue">

              <ng-container *ngIf="checkIfObject(item.value) === 'object'">
                
              <ng-container *ngIf="item.value.listId === category.id">                
                <app-task (notifyDelete)="handleDelete(item)" id={{item.value.id}} [description]="item.value.description"
                  [listId]="item.value.listId" [task]="item.value" cdkDrag [cdkDragData]></app-task>
              </ng-container>

              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="list-action">
        <button (click)="addTodo(category.id)" mat-mini-fab color="warn" aria-label="plus icon">
          <app-add-icon></app-add-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>